@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(17,0,36);
    background: linear-gradient(90deg, rgba(17,0,36,1) 0%, rgba(3,0,10,1) 54%, rgba(3,19,54,1) 100%);
  
    
}
.calc{
    border: 1px solid white;
    padding: 10px 10px;
    box-shadow: 3px 0px 5px white;
    border-radius: 10px;
    
}
input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    float: right;
    border-radius: 10px;
    font-size: 20px;
    text-align: end;
    background: rgb(17,0,36);
background: linear-gradient(90deg, rgba(17,0,36,1) 0%, rgba(108,99,130,1) 5%, rgba(196,204,223,1) 100%);
}
button{
    color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 5px;
    box-shadow: 1px 2px 3px white;
    border-radius: 10px;
    background: rgb(17,0,36);
background: linear-gradient(90deg, rgba(17,0,36,1) 0%, rgba(3,0,10,1) 54%, rgba(3,19,54,1) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');